<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.sona.music.main.dao.MainDAO">

	<select id="id" resultType="String">
		SELECT user_id FROM USERS WHERE user_id = 'test'
	</select>
	
	<select id="myInst" resultType="String">
		SELECT applyform_inst FROM APPLICATION_FORM WHERE user_id = #{param1}
	</select>
	
	<select id="list" resultType="com.sona.music.main.dto.MainDTO">
	SELECT
	CV.VIDEO_URL,
	AF.APPLYFORM_INST,
	CV.CLASS_IDX,
	CO.USER_ID,
	U.USER_NAME AS TEACHER_ID,
	(SELECT FORMAT((SUM(mh.manner_variance) + 36.5), 2)
	FROM MANNER_HISTORY mh
	WHERE mh.USER_ID = CO.USER_ID) AS MANNER_SCORE
	FROM
	CAREER_VIDEO CV
	INNER JOIN
	CLASS_OPEN CO ON CV.CLASS_IDX = CO.CLASS_IDX
	INNER JOIN
	APPLICATION_FORM AF ON AF.APPLYFORM_INST = CO.CLASS_INST
	INNER JOIN
	USERS U ON U.USER_ID = CO.USER_ID
	WHERE
	AF.USER_ID = #{param1}
	ORDER BY
	MANNER_SCORE DESC, cv.video_idx DESC
	LIMIT 3;
	</select>
	
	<select id="nolist" resultType="com.sona.music.main.dto.MainDTO">
	SELECT
	CV.VIDEO_URL,
	AF.APPLYFORM_INST,
	CV.CLASS_IDX,
	CO.USER_ID,
	U.USER_NAME AS TEACHER_ID,
	(SELECT FORMAT((SUM(mh.manner_variance) + 36.5), 2)
	FROM MANNER_HISTORY mh
	WHERE mh.USER_ID = CO.USER_ID) AS MANNER_SCORE
	FROM
	CAREER_VIDEO CV
	INNER JOIN
	CLASS_OPEN CO ON CV.CLASS_IDX = CO.CLASS_IDX
	INNER JOIN
	APPLICATION_FORM AF ON AF.APPLYFORM_INST = CO.CLASS_INST
	LEFT JOIN
	MANNER_HISTORY MH ON MH.USER_ID = CO.USER_ID
	INNER JOIN
	USERS U ON U.USER_ID = CO.USER_ID
	GROUP BY
	CV.VIDEO_URL,
	AF.APPLYFORM_INST,
	CV.CLASS_IDX,
	CO.USER_ID
	ORDER BY
	MANNER_SCORE DESC
	LIMIT 3;
	</select>
	
	<select id="allCount" resultType="Integer">
	SELECT CEIL(COUNT(CV.VIDEO_IDX)/#{param1})
	FROM CAREER_VIDEO CV
	INNER JOIN CLASS_OPEN CO ON CV.CLASS_IDX = CO.CLASS_IDX
	INNER JOIN APPLICATION_FORM AF ON AF.APPLYFORM_INST = CO.CLASS_INST
	WHERE AF.USER_ID = #{param2}
	</select>

	<select id="videoList" resultType="com.sona.music.main.dto.MainDTO">
	SELECT
	CV.VIDEO_URL,
	AF.APPLYFORM_INST,
	CV.CLASS_IDX,
	CO.USER_ID,
	U.USER_NAME AS TEACHER_ID,
	(SELECT FORMAT((SUM(mh.manner_variance) + 36.5), 2)
	FROM MANNER_HISTORY mh
	WHERE mh.USER_ID = CO.USER_ID) AS MANNER_SCORE
	FROM
	CAREER_VIDEO CV
	INNER JOIN
	CLASS_OPEN CO ON CV.CLASS_IDX = CO.CLASS_IDX
	INNER JOIN
	APPLICATION_FORM AF ON AF.APPLYFORM_INST = CO.CLASS_INST
	LEFT JOIN
	MANNER_HISTORY MH ON MH.USER_ID = CO.USER_ID
	INNER JOIN
	USERS U ON U.USER_ID = CO.USER_ID
	WHERE
	AF.USER_ID = #{param3}
	ORDER BY
	MANNER_SCORE DESC, cv.video_idx DESC
	LIMIT #{param1} OFFSET #{param2};
	</select>
	
	<select id="videoAllList" resultType="com.sona.music.main.dto.MainDTO">
	SELECT
	CV.VIDEO_URL,
	AF.APPLYFORM_INST,
	CV.CLASS_IDX,
	CO.USER_ID,
	U.USER_NAME AS TEACHER_ID,
	(SELECT FORMAT((SUM(mh.manner_variance) + 36.5), 2)
	FROM MANNER_HISTORY mh
	WHERE mh.USER_ID = CO.USER_ID) AS MANNER_SCORE
	FROM
	CAREER_VIDEO CV
	INNER JOIN
	CLASS_OPEN CO ON CV.CLASS_IDX = CO.CLASS_IDX
	INNER JOIN
	APPLICATION_FORM AF ON AF.APPLYFORM_INST = CO.CLASS_INST
	LEFT JOIN
	MANNER_HISTORY MH ON MH.USER_ID = CO.USER_ID
	INNER JOIN
	USERS U ON U.USER_ID = CO.USER_ID
	GROUP BY
	CV.VIDEO_URL,
	AF.APPLYFORM_INST,
	CV.CLASS_IDX,
	CO.USER_ID
	ORDER BY
	MANNER_SCORE DESC
	LIMIT #{param1} OFFSET #{param2};
	</select>
	
	<select id="allCount1" resultType="Integer">
	SELECT CEIL(COUNT(CV.VIDEO_IDX)/#{param1})
	FROM CAREER_VIDEO CV
	INNER JOIN CLASS_OPEN CO ON CV.CLASS_IDX = CO.CLASS_IDX
	INNER JOIN APPLICATION_FORM AF ON AF.APPLYFORM_INST = CO.CLASS_INST
	</select>
	

</mapper>