<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.sona.music.main.dao.MainDAO">

	<select id="id" resultType="String">
		SELECT user_id FROM USERS WHERE user_id = 'test'
	</select>
	
	<select id="myInst" resultType="String">
		SELECT applyform_inst FROM APPLICATION_FORM WHERE user_id = #{param1}
	</select>
	
	<select id="list" resultType="com.sona.music.main.dto.MainDTO">
	SELECT
	CV.VIDEO_URL
	FROM
	APPLICATION_FORM AF
	INNER JOIN CLASS_OPEN CO ON AF.INST_CATEGORY_IDX = CO.INST_CATEGORY_IDX
	AND AF.USER_ID = CO.USER_ID
	INNER JOIN CAREER_VIDEO CV ON CO.CLASS_IDX = CV.CLASS_IDX
	INNER JOIN (
	SELECT
	USER_ID,
	SUM(MANNER_VARIANCE) AS TOTAL_MANNER_VARIANCE
	FROM
	MANNER_HISTORY
	GROUP BY
	USER_ID
	) AS MH ON CO.USER_ID = MH.USER_ID
	WHERE
	AF.USER_ID = #{param1}
	AND CV.VIDEO_URL IS NOT NULL
	ORDER BY
	MH.TOTAL_MANNER_VARIANCE DESC
	LIMIT 4;
	</select>

</mapper>