@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#usermain {
    background-color: #BEE6FF;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.menu {
    width: 170px;
}
#logo {
    width: 70px;
    height: 70px;
}
#alarm {
    width: 20px;
    height: 20px;
}
#mymenu {
    border: 0;
    position: absolute;
    top: 30px;
    right: 30px;
}
header a {
    color: black;
    text-decoration: none;
    padding: 10px;
}
#mainmenu {
    display: inline;
    margin: 0 auto;
}
#footer {
    background-color: #555555;
    color: white;
    bottom: 0;
    padding-left: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: small;
}
#wrapper {
    display: flex;
    flex: 1; /* #wrapper가 화면 전체를 차지하도록 설정 */
}
#content {
    flex: 1; /* #content가 #sidemenu의 옆에 채워지도록 설정 */
    padding: 10px;
}
#sidemenu {
    background-color: #F0FAFF;
    color: black;
    padding: 10px;
    text-align: center;
    width: 200px; /* 메뉴 창 너비 */
    height: 100vh;
}
#sidemenu a {
    color: black;
    text-decoration: none;
    display: block; /* 링크를 블록 레벨 요소로 표시하여 세로로 정렬 */
    padding: 10px;
}
#adminmain {
    background-color: gray;
    color: #fff;
    padding: 10px;
    text-align: center;
}
#adminside {
    background-color: lightgray;
    color: black;
    padding: 10px;
    text-align: center;
    width: 200px; /* 메뉴 창 너비 */
    height: 100vh;
}
#adminside a {
    color: black;
    text-decoration: none;
    display: block; /* 링크를 블록 레벨 요소로 표시하여 세로로 정렬 */
    padding: 10px;
}
