<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.sona.music.point.dao.PointDAO">

	<insert id="joinCreatePoint">
		INSERT INTO USER_POINT(user_id, point_type, point) 
			VALUES(#{param1},"아이디생성",0);
	</insert>

	<select id="getHavePoint" resultType="Integer">
		SELECT SUM(point) FROM USER_POINT where user_id = #{param1};
	</select>
	
	<insert id="pointChange">
		INSERT INTO USER_POINT(user_id, point_type, point) 
			VALUES(#{param1},#{param3},#{param2});
	</insert>
	
	<select id="paymentGetLesson" resultType="com.sona.music.lesson.dto.LessonDTO">
		SELECT *,
			(SELECT user_name FROM USERS WHERE USERS.user_id = CLASS_OPEN.user_id) 
			AS user_name FROM CLASS_OPEN
			WHERE class_idx = #{param1};
	</select>
	
	<insert id="lessonPayApyHistory" >
		INSERT INTO APPLY_HISTORY(class_idx,user_id,apply_state,apply_detail)
			VALUES(#{param1},#{param2},#{param3},(select ah.apply_detail FROM APPLY_HISTORY ah 
				WHERE ah.user_id = #{param2} AND ah.class_idx = #{param1} AND ah.apply_state = '신청 완료'
   				ORDER BY apply_idx DESC LIMIT 1));
			
	</insert>
	
	<select id="getPhotoName">
		SELECT new_filename FROM PHOTO_BOARD WHERE user_id = #{param1} AND photo_category = #{param2} limit 1;
	</select>
	
	<select id="getUserInfo" resultType="com.sona.music.member.dto.MemberDTO">
		SELECT user_phone,user_accountnumber FROM USERS WHERE user_id = #{param1};
	</select>
</mapper>