<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.sona.music.member.dao.MemberDAO">

	<select id="findIdEmail" resultType="String">
		SELECT USER_EMAIL FROM USERS WHERE USER_EMAIL = #{param1}
	</select>
	
	<select id="login" resultType="com.sona.music.member.dto.MemberDTO">
		SELECT user_id, user_pass, user_type 
			FROM users
			WHERE m.id = #{param1} AND m.pw = #{param2}	
	</select>

</mapper>