<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.sona.music.lesson.dao.LessonDAO">
	
	<select id="recommendListCall" resultType="com.sona.music.lesson.dto.LessonDTO">
		SELECT (SELECT pb.new_filename FROM PHOTO_BOARD pb WHERE pb.POST_IDX = co.CLASS_IDX AND pb.photo_category = 'lesson') AS new_filename
			, co.class_idx
			, co.class_name
			, u.user_name
			, CONCAT(FORMAT((SELECT (SUM(mh.manner_variance) + 36.5) FROM MANNER_HISTORY mh WHERE mh.user_id = co.user_id), 2), '') AS manner
			, CASE WHEN (SELECT COUNT(apply_state) FROM APPLY_HISTORY ah WHERE ah.apply_state = '결제 완료' AND ah.class_idx = co.class_idx GROUP BY ah.user_id) IS NULL
				THEN 0
				ELSE (SELECT COUNT(apply_state) FROM APPLY_HISTORY ah WHERE ah.apply_state = '결제 완료' AND ah.class_idx = co.class_idx GROUP BY ah.user_id)
				END AS accumulate_student
			, co.class_location
		FROM CLASS_OPEN co JOIN USERS u on co.user_id = u.user_id
		WHERE class_inst = '어쿠스틱 기타'
		<if test="param4 != null">
			AND ${param3} LIKE CONCAT('%', #{param4}, '%')
		</if>
		ORDER BY manner DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="allListCall" resultType="com.sona.music.lesson.dto.LessonDTO">
		SELECT (SELECT pb.new_filename FROM PHOTO_BOARD pb WHERE pb.POST_IDX = co.CLASS_IDX AND pb.photo_category = 'lesson') AS new_filename
			, co.class_idx
			, co.class_name
			, u.user_name
			, CONCAT(FORMAT((SELECT (SUM(mh.manner_variance) + 36.5) FROM MANNER_HISTORY mh WHERE mh.user_id = co.user_id), 2), '') AS manner
			, CASE WHEN (SELECT COUNT(apply_state) FROM APPLY_HISTORY ah WHERE ah.apply_state = '결제 완료' AND ah.class_idx = co.class_idx GROUP BY ah.user_id) IS NULL
				THEN 0
				ELSE (SELECT COUNT(apply_state) FROM APPLY_HISTORY ah WHERE ah.apply_state = '결제 완료' AND ah.class_idx = co.class_idx GROUP BY ah.user_id)
				END AS accumulate_student
			, co.class_location
		FROM CLASS_OPEN co JOIN USERS u on co.user_id = u.user_id
		<if test="param4 != '' || param5 != '지역 전체' || param6 != '' || param7 != ''">
			WHERE
			<if test="param4 != ''">
				${param3} LIKE CONCAT('%', #{param4}, '%')
				<if test="param5 != '지역 전체' || param6 != '' || param7 != ''">
					AND
				</if>
			</if>
			<if test="param5 != '지역 전체'">
				class_location = #{param5}
				<if test="param6 != '' || param7 != ''">
					AND
				</if>
			</if>
			<if test="param6 != ''">
				inst_category_idx = #{param6}
				<if test="param7 != ''">
					AND
				</if>
			</if>
			<if test="param7 != ''">
				class_inst = #{param7}
			</if>
			
		</if>
		ORDER BY manner DESC LIMIT #{param1} OFFSET #{param2}
	</select>

	<select id="recommendListCount" resultType="Integer">
		SELECT CEIL(COUNT(class_idx)/#{param1}) FROM CLASS_OPEN WHERE class_inst = '어쿠스틱 기타'
		<if test="param3 != null">
			AND ${param2} LIKE CONCAT('%', #{param3}, '%')
		</if>
	</select>
	
	<select id="allListCount" resultType="Integer">
		SELECT CEIL(COUNT(class_idx)/#{param1}) FROM CLASS_OPEN WHERE class_inst = '어쿠스틱 기타'
		<if test="param3 != '' || param4 != '지역 전체' || param5 != '' || param6 != ''">
			AND
			<if test="param3 != ''">
				${param2} LIKE CONCAT('%', #{param3}, '%')
				<if test="param4 != '지역 전체' || param5 != '' || param6 != ''">
					AND
				</if>
			</if>
			<if test="param4 != '지역 전체'">
				class_location = #{param4}
				<if test="param5 != '' || param6 != ''">
					AND
				</if>
			</if>
			<if test="param5 != ''">
				inst_category_idx = #{param5}
				<if test="param6 != ''">
					AND
				</if>
			</if>
			<if test="param6 != ''">
				class_inst = #{param6}
			</if>
			
		</if>
	</select>
	
	<insert id="lessonWrite"
		useGeneratedKeys="true"
		keyColumn="class_idx"
		keyProperty="class_idx"
		parameterType="com.sona.music.lesson.dto.LessonDTO">
		INSERT CLASS_OPEN(user_id, inst_category_idx, class_inst, class_location, class_days, class_hours, need_inst, class_style,
			class_name, class_content, class_times, class_price, career_years, career_contents)
		values(#{user_id}, #{inst_category_idx}, #{class_inst}, #{class_location}, #{class_days}, #{class_hours}, #{need_inst}, #{class_style},
			#{class_name}, #{class_content}, #{class_times}, #{class_price}, #{career_years}, #{career_contents})
	</insert>
	
	<insert id="videoWrite">
		INSERT CAREER_VIDEO(class_idx, video_url) values(#{param1}, #{param2})
	</insert>
	
	<insert id="photoWrite">
		INSERT INTO PHOTO_BOARD(user_id, ori_filename, new_filename, post_idx, photo_category) 
			VALUES(#{param1}, #{param2}, #{param3}, #{param4}, #{param5})
	</insert>
	
	<select id="lessonDetail" resultType="com.sona.music.lesson.dto.LessonDTO">
		SELECT
			co.class_name
			, co.class_inst
			, (SELECT u.user_name FROM USERS u WHERE u.user_id = co.user_id) AS user_name
			, FORMAT((SELECT avg(r.score) FROM REVIEW r WHERE co.class_idx = '2'), 2) AS class_score
			, co.user_id
			, co.class_location
			, CONCAT(FORMAT((SELECT (SUM(mh.manner_variance) + 36.5) FROM MANNER_HISTORY mh WHERE mh.user_id = co.user_id), 2), '') AS manner
			, co.class_reg_date
			, co.career_years
			, co.career_contents
			, co.class_content
			, co.class_style
			, co.class_days
			, co.class_hours
			, co.need_inst
			, CASE WHEN (SELECT COUNT(apply_state) FROM APPLY_HISTORY ah WHERE ah.apply_state = '결제 완료' AND ah.class_idx = co.class_idx GROUP BY ah.user_id) IS NULL
				THEN 0
				ELSE (SELECT COUNT(apply_state) FROM APPLY_HISTORY ah WHERE ah.apply_state = '결제 완료' AND ah.class_idx = co.class_idx GROUP BY ah.user_id)
				END AS accumulate_student
			, co.class_times
			, co.class_price
			, (SELECT video_url FROM CAREER_VIDEO cv WHERE cv.class_idx = #{param1}) AS video_url
		FROM CLASS_OPEN co
		WHERE co.class_idx = #{param1}
	</select>
	
	<select id="lessonLogoLoad" resultType="String">
		SELECT pb.new_filename FROM PHOTO_BOARD pb WHERE pb.post_idx = #{param1} AND pb.photo_category = 'Lesson'
	</select>
		
	<select id="lessonPhotosLoad" resultType="com.sona.music.lesson.dto.PhotoDTO">
		SELECT pb.new_filename FROM PHOTO_BOARD pb WHERE pb.post_idx = #{param1} AND pb.photo_category = 'Career'
	</select>
	
	
</mapper>