<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.sona.music.board.dao.SuggestionDAO">

	<select id="suggestionsListCall" resultType="com.sona.music.board.dto.SuggestionDTO">
		SELECT
			sb.sug_idx
			, sb.sug_secret
			, sb.sug_title
			, sa.sug_answer_idx 
			, u.user_name
			, sb.sug_reg_date
			, sb.user_id
		FROM SUG_BOARD sb JOIN USERS u ON sb.user_id = u.user_id 
			LEFT JOIN SUG_ANSWER sa ON sb.sug_idx = sa.sug_idx
		WHERE sb.sug_delete = 0
		<if test="param4 != ''">
			AND
			<if test="param3 == 'sug_title'">
				sb.sug_title LIKE CONCAT('%', #{param4}, '%')
			</if>
			<if test="param3 == 'sug_content'">
				sb.sug_content LIKE CONCAT('%', #{param4}, '%')
			</if>
			<if test="param3 == 'user_name'">
				u.user_name LIKE CONCAT('%', #{param4}, '%')
			</if>
		</if>
		ORDER BY sb.sug_idx DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="suggestionsListCount" resultType="Integer">
		SELECT
			CEIL(COUNT(sb.sug_idx)/#{param1}) 
		FROM SUG_BOARD sb JOIN USERS u ON sb.user_id = u.user_id 
			LEFT JOIN SUG_ANSWER sa ON sb.sug_idx = sa.sug_idx
		<if test="param3 != ''">
			WHERE
			<if test="param2 == 'sug_title'">
				sb.sug_title LIKE CONCAT('%', #{param3}, '%')
			</if>
			<if test="param2 == 'sug_content'">
				sb.sug_content LIKE CONCAT('%', #{param3}, '%')
			</if>
			<if test="param2 == 'user_name'">
				u.user_name LIKE CONCAT('%', #{param3}, '%')
			</if>
		</if>
	</select>
	
	<update id="suggestionsViewUp">
		UPDATE SUG_BOARD SET sug_views = sug_views + 1 WHERE sug_idx = #{param1}
	</update>

	<select id="suggestionsDetailGo" resultType="com.sona.music.board.dto.SuggestionDTO">
		SELECT
			sb.sug_idx
			, sb.sug_secret
			, sb.sug_title
			, u.user_name
			, sb.user_id
			, sb.sug_reg_date
			, sb.sug_views 
			, sb.sug_content
			, sa.sug_answer_idx
			, sa.admin_id
			, sa.sug_answer_reg_date 
			, sa.sug_answer
		FROM SUG_BOARD sb JOIN USERS u ON sb.user_id = u.user_id LEFT JOIN SUG_ANSWER sa ON sb.sug_idx = sa.sug_idx
		WHERE sb.sug_idx = #{param1}
	</select>

	<select id="suggestionsDetailPhotos" resultType="com.sona.music.board.dto.PhotoDTO">
		SELECT
			pb.new_filename
		FROM PHOTO_BOARD pb
		WHERE pb.post_idx = #{param1} AND pb.photo_category = 'Suggestion'
	</select>

	<insert id="answerWrite">
		INSERT INTO SUG_ANSWER(sug_idx, admin_id, sug_answer)
			VALUES(#{param1}, #{param2}, #{param3})
	</insert>
	
	<update id="suggestionsDelete">
		UPDATE SUG_BOARD SET sug_delete = 1 WHERE sug_idx = #{param1}
	</update>
	
	<delete id="answerDelete">
		DELETE FROM SUG_ANSWER WHERE sug_idx = #{param1}
	</delete>
	
	<insert id="suggestionsWrite"
		useGeneratedKeys="true"
		keyColumn="sug_idx"
		keyProperty="sug_idx"
		parameterType="com.sona.music.board.dto.SuggestionDTO">
		INSERT INTO SUG_BOARD(user_id, sug_title, sug_content, sug_secret)
			VALUES(#{user_id}, #{sug_title}, #{sug_content}, #{sug_secret})
	</insert>
	
	<insert id="photoWrite">
		INSERT INTO PHOTO_BOARD(user_id, ori_filename, new_filename, post_idx, photo_category) 
			VALUES(#{param1}, #{param2}, #{param3}, #{param4}, 'Suggestion')
	</insert>
	
	<update id="suggestionsEdit" parameterType="com.sona.music.board.dto.SuggestionDTO">
		UPDATE SUG_BOARD SET sug_title = #{sug_title}, sug_content = #{sug_content}, sug_secret = #{sug_secret}
			WHERE sug_idx = #{sug_idx}
	</update>
	
	<update id="answerEdit">
		UPDATE SUG_ANSWER SET admin_id = #{param2}, sug_answer = #{param3}
			WHERE sug_answer_idx = #{param1}
	</update>
	
</mapper>