<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.sona.music.board.dao.SuggestionDAO">

	<select id="showListSearch" resultType="com.sona.music.board.dto.SuggestionDTO">
	
		SELECT SB.*, COUNT(SA.sug_answer_idx) AS sug_answerCount
		FROM SUG_BOARD SB
		LEFT JOIN SUG_ANSWER SA ON SB.sug_idx = SA.sug_idx
		GROUP BY SB.sug_idx HAVING SB.sug_delete = #{param3}
		<choose>
				<when test="param6 == 1">
				<![CDATA[
					AND COUNT(SA.sug_answer_idx) >= '0' 
					]]>
					<if test='param5 != null'>
					 AND
						 <if test="param5 == 2">
						 	SB.user_id LIKE '%${param4}%' 
						 </if>
						<if test="param5 == 1">
							 SB.sug_title LIKE '%${param4}%' 	
						</if> 
					</if>	
				</when>
				<when test="param6 == 2">
				<![CDATA[
					AND COUNT(SA.sug_answer_idx) = 0 
					]]>
					<if test='param5 != null'>
					 AND
						 <if test="param5 == 2">
						 	SB.user_id LIKE '%${param4}%' 
						 </if>
						<if test="param5 == 1">
							 SB.sug_title LIKE '%${param4}%' 	
						</if> 
					</if>	
				</when>
				<when test="param6 == 3">
				<![CDATA[
					AND COUNT(SA.sug_answer_idx) > 0 
					]]>
					<if test='param5 != null'>
					 AND
						 <if test="param5 == 2">
						 	SB.user_id LIKE '%${param4}%' 
						 </if>
						<if test="param5 == 1">
							 SB.sug_title LIKE '%${param4}%' 	
						</if> 
					</if>	
				</when>
			</choose>	
			ORDER BY SB.sug_idx DESC LIMIT #{param1},#{param2};
	</select>

	
 	<select id="allCount" resultType="int">		
	<choose>
		<when test='param5 == 1'>
			SELECT CEIL(COUNT(SUG_IDX) / 10) AS pages
				FROM SUG_BOARD WHERE sug_delete = #{param3}
			<if test='param4 != null'>
			 AND
				 <if test="param4 == 2">
				 	user_id LIKE '%${param3}%' 
				 </if>
				<if test="param4 == 1">
					sug_title LIKE '%${param3}%' 	
				</if> 
			</if>	
		</when>
		
		<when test='param5 == 2'>
			SELECT  CEIL(COUNT(SB.SUG_IDX)/10) AS pages
				FROM SUG_BOARD SB
				LEFT JOIN SUG_ANSWER SA ON SB.SUG_IDX = SA.SUG_IDX
				WHERE SA.SUG_IDX IS NULL
			<if test='param4 != null'>
			 AND
				 <if test="param4 == 2">
				 	SB.user_id LIKE '%${param3}%' 
				 </if>
				<if test="param4 == 1">
					 SB.sug_title LIKE '%${param3}%' 	
				</if> 
			</if>
		</when>
		<when test='param5 == 3'>
			SELECT CEIL(count(DISTINCT SA.SUG_IDX)/10) As pages 
			FROM SUG_ANSWER SA
			LEFT JOIN SUG_BOARD SB ON SB.SUG_IDX = SA.SUG_IDX
				<if test='param4 != null'>
					WHERE
					 <if test="param4 == 2">
					 	SB.user_id LIKE '%${param3}%' 
					 </if>
					<if test="param4 == 1">
						 SB.sug_title LIKE '%${param3}%' 	
					</if> 
				</if>
		</when>
	</choose>
	</select>  

</mapper>