<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.sona.music.board.dao.SuggestionDAO">

	<select id="suggestionsListCall" resultType="com.sona.music.board.dto.SuggestionDTO">
		SELECT
			sb.sug_idx
			, sb.sug_secret
			, sb.sug_title
			, sa.sug_answer_idx 
			, u.user_name
			, sb.sug_reg_date
			, sb.user_id
		FROM SUG_BOARD sb JOIN USERS u ON sb.user_id = u.user_id 
			LEFT JOIN SUG_ANSWER sa ON sb.sug_idx = sa.sug_idx
		<if test="param4 != ''">
			WHERE
			<if test="param3 == 'sug_title'">
				sb.sug_title LIKE CONCAT('%', #{param4}, '%')
			</if>
			<if test="param3 == 'sug_content'">
				sb.sug_content LIKE CONCAT('%', #{param4}, '%')
			</if>
			<if test="param3 == 'user_name'">
				u.user_name LIKE CONCAT('%', #{param4}, '%')
			</if>
		</if>
		ORDER BY sb.sug_idx DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="suggestionsListCount" resultType="Integer">
		SELECT
			CEIL(COUNT(sb.sug_idx)/#{param1}) 
		FROM SUG_BOARD sb JOIN USERS u ON sb.user_id = u.user_id 
			LEFT JOIN SUG_ANSWER sa ON sb.sug_idx = sa.sug_idx
		<if test="param3 != ''">
			WHERE
			<if test="param2 == 'sug_title'">
				sb.sug_title LIKE CONCAT('%', #{param3}, '%')
			</if>
			<if test="param2 == 'sug_content'">
				sb.sug_content LIKE CONCAT('%', #{param3}, '%')
			</if>
			<if test="param2 == 'user_name'">
				u.user_name LIKE CONCAT('%', #{param3}, '%')
			</if>
		</if>
	</select>
	
	<update id="suggestionsViewUp">
		UPDATE SUG_BOARD SET sug_views = sug_views + 1 WHERE sug_idx = #{param1}
	</update>

	<select id="suggestionsDetailGo" resultType="com.sona.music.board.dto.SuggestionDTO">
		SELECT
			sb.sug_idx
			, sb.sug_secret
			, sb.sug_title
			, u.user_name
			, sb.user_id
			, sb.sug_reg_date
			, sb.sug_views 
			, sb.sug_content
			, sa.sug_answer_idx
			, sa.admin_id
			, sa.sug_answer_reg_date 
			, sa.sug_answer
		FROM SUG_BOARD sb JOIN USERS u ON sb.user_id = u.user_id LEFT JOIN SUG_ANSWER sa ON sb.sug_idx = sa.sug_idx
		WHERE sb.sug_idx = #{param1}
	</select>

	<select id="suggestionsDetailPhotos" resultType="com.sona.music.board.dto.PhotoDTO">
		SELECT
			pb.new_filename
		FROM PHOTO_BOARD pb
		WHERE pb.post_idx = #{param1} AND pb.photo_category = 'Suggestion'
	</select>


</mapper>