<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.sona.music.mypage.dao.MyPageDAO">

	   <select id="getUserInfo" parameterType="String" resultType="com.sona.music.mypage.dto.MyPageDTO">
    SELECT 
        u.user_name,
        u.user_type,
        u.user_id,
        u.user_email,
        u.user_phone,
        u.user_bank,
        u.user_accountnumber,
        af.applyform_inst,
        af.applyform_location,
        af.applyform_days,
        af.applyform_style,
        af.have_inst
    FROM USERS u
    LEFT JOIN (
        SELECT *
        FROM APPLICATION_FORM
        WHERE user_id = #{loginId}
        LIMIT 1
    ) af ON u.user_id = af.user_id
    WHERE u.user_id = #{loginId}
</select>
    
    <update id="updateUserInfo" parameterType="map">
        UPDATE USERS u
        INNER JOIN APPLICATION_FORM us ON u.user_id = us.user_id
        SET 
            u.user_name = #{user_name},
            u.user_pass = #{user_pass},
            u.user_email = #{user_email},
            u.user_phone = #{user_phone},
            u.user_accountnumber = #{user_accountnumber},
            u.user_bank = #{user_bank},
            us.inst_category_idx = #{instCategory},
            us.applyform_inst = #{applyform_inst},
            us.applyform_location = #{applyform_location},
            us.applyform_days = #{applyform_days},
            us.applyform_style = #{applyform_style}
        WHERE u.user_id = #{loginId}
    </update>
    
		<select id="getClassNames" parameterType="String" resultType="String">
		    SELECT DISTINCT co.class_name
		    FROM CLASS_QUESTION cq
		    JOIN CLASS_OPEN co ON cq.class_idx = co.class_idx
		    WHERE cq.user_id = #{param1}
		</select>
		
	    
		
		<select id="qnaList" resultType="com.sona.music.mypage.dto.MyPageDTO" parameterType="java.util.Map">
		    SELECT 
		        cq.anonymous_status,
		        cq.q_title,
		        CASE WHEN cq.question_idx = ca.answer_idx THEN 'Y' ELSE 'N' END AS answer_status,
		        cq.q_reg_date,
		        co.class_name
		    FROM 
		        CLASS_QUESTION cq
		    LEFT JOIN 
		        CLASS_ANSWER ca ON cq.question_idx = ca.answer_idx
		    JOIN 
		        CLASS_OPEN co ON cq.class_idx = co.class_idx
		    WHERE
		        cq.user_id = #{param3}
		    ORDER BY
		        cq.question_idx DESC
		    LIMIT #{param2},#{param1}
		</select>
		
		
		<select id="allCount" resultType="Integer" parameterType="Integer">
    		SELECT CEIL(COUNT(*) / #{pagePerCnt}) AS pages FROM CLASS_QUESTION
		</select>
		
		<select id="pointList" resultType="com.sona.music.mypage.dto.MyPageDTO" parameterType="java.util.Map">
		SELECT 
		    up.point_date,
		    up.point_type,
		    up.point,
		    (SUM(point) OVER (ORDER BY up.point_idx)) AS balance
		FROM 
		    USER_POINT up 
		WHERE 
		    up.user_id = #{param3}
		ORDER BY 
		    up.point_idx desc
		LIMIT #{param2},#{param1}
		    
	   </select>
	   
	   <select id="getPointAmount" parameterType="String" resultType="com.sona.music.mypage.dto.MyPageDTO">
		    SELECT SUM(point)
		    FROM USER_POINT
		    WHERE user_id = #{loginId}
		</select>
		
		
	    
	    
	    
</mapper>