<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.sona.music.mypage.dao.MyPageDAO">

	   <select id="getUserInfo" parameterType="String" resultType="com.sona.music.mypage.dto.MyPageDTO">
        SELECT 
            u.user_name,
            u.user_type,
            u.user_id,
            u.user_email,
            u.user_phone,
            af.applyform_inst,
            af.applyform_location,
            af.applyform_days,
            af.applyform_style,
            af.have_inst
        FROM USERS u
        LEFT JOIN APPLICATION_FORM af ON u.user_id = af.user_id
        WHERE u.user_id = #{loginId}
    </select>

</mapper>